<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.approjects">
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".AppApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".permissions.PermissionsActivity" />

        <activity android:name=".grafika.GrafikaActivity" />

        <activity android:name=".exoplayer.SampleChooserActivity"
            android:label="@string/exo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.exolist\\.json"/>
            </intent-filter>
        </activity>
        <activity android:name=".exoplayer.PlayerActivity"
            android:label="@string/exo"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.approjects.ump.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.approjects.ump.action.VIEW_LIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name=".exoplayer.DemoDownloadService" />

        <!-- Main activity for music browsing on phone -->
        <activity
            android:label="@string/ump"
            android:name=".universalmusicplayer.ui.MusicPlayerActivity" />

        <!-- A full screen activity showing controls and a seek bar for the current
                playing music -->
        <activity android:name=".universalmusicplayer.ui.FullScreenPlayerActivity"
            android:label="@string/ump"
            android:launchMode="singleTop"
            android:parentActivityName=".universalmusicplayer.ui.MusicPlayerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".universalmusicplayer.ui.MusicPlayerActivity" />
        </activity>

        <!-- Placeholder activity for phone UI -->
        <activity android:name=".universalmusicplayer.ui.PlaceholderActivity"
            android:label="@string/ump"/>

        <!-- Main music service, provides media browsing and media playback services to
            consumers through MediaBrowserService and MediaSession. Consumers connect to it through
            MediaBrowser (for browsing) and MediaController (for play session control) -->
        <service android:name=".universalmusicplayer.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity android:name=".musicfx.MusicFXActivity" />

        <activity android:name=".AppProjectsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
